header { 
    display: block;
}

header h1 {
    text-align : center;
}

.root {
    max-width: 50;
    margin-left: auto ;
    margin-right: auto ;
}

.gridAndStatus {
    max-width: 50%;
    margin-left: auto ;
    margin-right: auto ;
}

.grid {
    clear: left;
}

.grid input {
    width: 1em;
}

.actions {
    clear:left;
}

.results {
    clear:both;
}

.results li {
    float:left;
    padding:1em;
    list-style:none;
}
