header { 
    display: block;
}

header h1 {
    text-align : center;
}

#root {
    max-width: 40%;
    margin-left: auto ;
    margin-right: auto ;
}

#setup {
    max-width: 40%;
    margin-left: auto ;
    margin-right: auto ;
}

#inputGrid {
    float:left;
}

#status {
    float:left;
}

#inputGrid input {
    width: 1em;
}

#actions {
    clear : both;
    text-align: center;
    margin-left: auto ;
    margin-right: auto ;
}

#results {
    clear:both;
}

#results li {
    float:left;
    padding:1em;
    list-style:none;
}
